<html style='height:100%;'>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        console.log({{ ctop_keywords|safe }})
        console.log({{ ctop_mentions|safe }})
        console.log({{ ctop_users|safe }})
        var keywords_data = google.visualization.arrayToDataTable({{ ctop_keywords|safe }});

        var mentions_data = google.visualization.arrayToDataTable({{ ctop_mentions|safe }});

        var users_data = google.visualization.arrayToDataTable({{ ctop_users|safe }});

        var keywords_options = {
          legend: 'none',
          pieSliceText: 'label',
          tooltip : {text: 'value'},
          titleTextSTyle: { color: 'black',
                            fontName: '',
                            fontSize: 20,
                            bold: true,
                            italic: false},
          chartArea: {
                    left:'auto',
                    top:'auto',
                    bottom:'auto',
                    right:'auto',
                    width:"100%",
                    height:"100%"}
        };

        var users_options = {
          legend: 'none',
          pieSliceText: 'label',
          tooltip : {text: 'value'},
          titleTextSTyle: { color: 'black',
                            fontName: '',
                            fontSize: 20,
                            bold: true,
                            italic: false},
          chartArea: {
                    left:'auto',
                    top:'auto',
                    bottom:'auto',
                    right:'auto',
                    width:"100%",
                    height:"100%"}
        };

        var mentions_options = {
          legend: 'none',
          pieSliceText: 'label',
          tooltip : {text: 'value'},
          titleTextSTyle: { color: 'black',
                            fontName: '',
                            fontSize: 20,
                            bold: true,
                            italic: false},
          chartArea: {
                    left:'auto',
                    top:'auto',
                    bottom:'auto',
                    right:'auto',
                    width:"100%",
                    height:"100%"}
        };
        var chart = new google.visualization.PieChart(document.getElementById('keywords'));
        chart.draw(keywords_data, keywords_options);

        var chart = new google.visualization.PieChart(document.getElementById('mentions'));
        chart.draw(mentions_data, mentions_options);

        var chart = new google.visualization.PieChart(document.getElementById('users'));
        chart.draw(users_data, users_options);

      }
    </script>
  </head>
  <body bgproperties='fixed' bgcolor=black style='
    height:100%;
    background:url(https://drive.google.com/file/d/0B9F-LGc89YwAU3BKbDQ1V3FZSjQ/edit?usp=sharing) no-repeat fixed center center;background-color:#000000; color:#889999;'>
    <center><h1>#MiracleBoyYuvi</h1></center>
    <br>

    <center><h3>Top 10 Keywords</h3>
    <div id="keywords" style="width: 30%; height: 500px;"></div></center>
    <center><center>

    <br>

    <center><h3>10 Most Mentioned People</h3>
    <div id="mentions" style="width: 30%; height: 500px;"></div></center>
    <center><center>

    <br>

    <center><h3>10 People With Most Tweets</h3></center>
    <center><div id="users" style="width: 30%; height: 500px;"></div></center>
    <center><center>
  </body>
</html>